.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-color: #a0aec0 !important;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroImage {
  width: 300px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.features p {
  margin-bottom: 0;
}

.featureImage {
  height: 200px;
  width: 200px;
}
